<div id="<%= dom_id repeated_task %>">
  <p>
    <strong>Title:</strong>
    <%= repeated_task.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= repeated_task.completed %>
  </p>

</div>
