<h1>Editing repeated task</h1>

<%= render "form", repeated_task: @repeated_task %>

<br>

<div>
  <%= link_to "Show this repeated task", @repeated_task %> |
  <%= link_to "Back to repeated tasks", repeated_tasks_path %>
</div>
